/*Navegation Bar*/

.container {
    max-width: 960px;
  }
 
.site-header {
    background-color: black;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
    color: orange;
    transition: color .15s ease-in-out;
}
.site-header a:hover {
    color: #fff;
    text-decoration: none;
}
.opacity {
  font-family: 'Prompt', sans-serif;
  opacity: 0.7;
}
/*End of Navegation Bar*/

.background-image{
    background-image: url('https://i.imgur.com/DQ6esDx.jpgg');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    max-width: 100%;
    max-height: 100%;
    border-right: 1px solid orange;
    border-bottom: 1px solid orange;
    border-left: 1px solid orange;
} 

.font-style-1{
    font-family: 'Ubuntu', sans-serif;
    color: white !important;
    font-size: 400%;
    text-shadow: 0 0 60px;
    margin-bottom: 5%;
}
.text-color{
    font-family: 'Prompt', sans-serif;
    font-size: 125%;
    color: white !important;
    text-shadow: 0 0 40px;
    margin-bottom: 5%;
}
.button-color{
    background-color: orange !important;
    color: black;
}
.button-color2{
    background-color: rgb(12,106,218) !important;
}

.white-space{
  display: none;
  text-align: center;
  
}
.placement{
  display: flex;
  border: 1px solid orange;
  margin-bottom: 5%;
}

.white-space-2{
  display: none;
  text-align: center;
}

.placement-2{
  display: flex;
  border: 1px solid #063679;
  margin-bottom: 5%;
}

  
.images {
  display: flex;
  justify-content: center;
}

.picture-style{
    height: 300px; 
    border: 1px solid orange;
}
.picture-style2{
    height: 100px;
}
.center{
  text-align: center;
  color: black;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.size-2{
  max-width: 50%;
}
.background{
  background-color: #063679;
}
.color-boxes{
  background-color: white;
}
.me-pic{
  display: block;
  height: 50%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid orange;
}
.info-me{
  font-family: 'Prompt', sans-serif;
  font-size: 125%;
  background-color: #c2e8ff;
  padding: 10%;
  border-radius: 50%;
  border: 1px solid;
  color: black;
  text-align: center;
  margin-bottom: 5%;
}
.margin-1{
  margin-bottom: 5%;
}
.margin-2{
  margin-left: 5%;
  margin-right: 5%;
}
.margin-3{
  width: 45%;
  margin-right: 5%;
}
.subs{
  font-family: 'Prompt', sans-serif;
  font-size: 150%;
  /*display: flex;*/
  margin-bottom: 10%;
  margin-top: 3%;
}

.sub-1{
  padding-right: 25%;
  margin-left: 2px;
}

.flex-column1{
  margin-left: -10%;

}

.flex-column2{
  margin-left: 27%;
    /* margin-right: -10%; */
    margin-top: 2%;
}

.flex-column3{
  margin-left: 22%; 
    /* margin-bottom: 58%; */
    /* padding-bottom: 18%; */
}

.top-margin{
  margin-top: 0%;
}

/*Tic-Tac-Toe*/

.tic-tac-title{
  font-family: 'Prompt', sans-serif;
  font-size: 300%;
  color: black;
  text-align: center;
  margin-top: 5%;
}

.margin-7{
  color: #063679;
  margin-right: 15%;
  margin-left: 15%;
}

.tic-tac {
  width:50%;
  display:flex;
  flex-wrap:wrap;
  margin: auto;
  padding: auto;
  margin-bottom: 200px;
  text-align: center;

}

.tile {
  font-family: 'Prompt', sans-serif;
  width:33%;
  padding:5%;
  height: 200px;
  color: black;
  font-size: 200%;
}

.right {
  border-right: 2px solid black;
}

.bottom {
  border-bottom: 2px solid black;
}

h3 {
 color: #063679;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}
.color{
  background-color: #f99806;
  height: 1000px;
}

.reset{
  position: center;
  color: black;
  background-color: #f99806;
}

.wins{
  font-family: 'Prompt', sans-serif;
  text-align: center;
  font-size: 150%;
  color: black;
  margin-top: 1%;
  margin-bottom: -28%;
  margin-left: 30%;
  padding-top: 10%
}

/*End of the Tic-Tac-Toe*/

/*Calculator*/

.calculator {
  margin: 2em;
  box-sizing: border-box;
  background-position: center;
  color: #063679;
}

.title-2{
  font-family: 'Prompt', sans-serif;
  font-size: 300%;
  color: black;
  text-align: center;
  margin-top: 5%;
}

#calculator {
  display: flex;
  flex-wrap: wrap;
  width: 440px;
  align-items: center;
  margin-left: 38%;
  margin-right: 40%;
  margin-top: 2%;
  margin-bottom: 10%;
}

#calculator div {
  width: 108px;
  padding: 10px 5px;
  border: 1px solid white;
  margin: 1px;
  text-align: center;
  background: #063679;
  color: white;
  
}

#calculator div#display {
  width: 440px;
  padding: 10px 5px;
  font-size: 2em;
  background: rgb(90, 90, 92);
  text-align: center;
}

#calculator div#zero {
  width: 218px;
  padding: 10px 5px;
}

#calculator .operator,
#calculator .solve {
  background: orange;
}

#calculator .adjust {
  background: rgb(107, 107, 109);
}

#calculator div:hover {
  background: rgb(185, 185, 186);
}

#calculator div.adjust:hover {
  background: rgb(133, 133, 135);
}

#calculator div.operator:hover {
  background: rgb(203, 126, 5);
}

/*End of Calculator*/

/*List*/

.list {
  font-family: 'Prompt', sans-serif;
  font-size: 300%;
}

span {
  margin-left: 5px;
}

button {
  background-color: #063679;
  color: white;
  border: 1px solid white;
  padding: 5px 10px;
}

h4 {
  color: #063679;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}
ol {
  text-align: center;
  list-style: inside;
  margin-bottom: 20%;
  font-size: 40px;
  list-style-type: square;
}
.heading{
  text-align: center;
  margin-top: 5%;
}

.newToDo{
  color: #063679;
}
/*End of list*/

.margin-4{
  margin-right: 5%;
  margin-left: 5%;
}

.margin-5{
  margin-top: 5%;
  margin-bottom: 2%;
}

.margin-8{
  margin-bottom: 2%;
}
.contact-head{
  font-family: 'Prompt', sans-serif;
  color: white;
  text-align: center;
}
.form{
  font-family: 'Prompt', sans-serif;
  text-align: center;
}
.your-email{
  font-family: 'Prompt', sans-serif;
  display: flex;
  justify-content: flex-start;
  padding-top: 50px;
  padding-left: 7%;
}
.your-message{
  font-family: 'Prompt', sans-serif;
  display: flex;
  justify-content: flex-end;
  padding-top: 50px;
  padding-right: 200px;
  padding-left: 50px;
  max-height: 90px;
  min-height: 90px;
}
.form-group{
  display: flex;
  flex-direction: row;
}
.decor-text-area{
  display: flex;
  justify-content: center;
  background-color: white;
  color: black;
  margin-left: 10px;
  max-height: 200px;
  width: 500px;
}
.submit-button{
  font-family: 'Prompt', sans-serif;
  background-color: white;
  color: black;
  text-decoration: black;
  margin-top: 20px;
  border-radius: 3px;
  border: 1px solid black;
  width: 500px;
  text-align: center;
}

.submit-button:hover{
  background-color: #063679;
  color: #c2e8ff;
  text-decoration: underline #c2e8ff;
  border: 1px solid black;
}

.form > label {
  float: left;
  clear: right;
}
.form > input {
  float: right;
}

.size-1{
  width: 400px;
  height: 40px;
  border-radius: 30px;
  border: 2px solid black;
  text-align: center;
}

.style-1{
  border: 1px solid black;
  background-color: #c2e8ff;
  border-radius: 20px;
  margin-left: 2%;
  margin-right: 2%;
}

.button-center{
  text-align: center;
  margin-bottom: 5%;
  margin-top: 2%;
}

.contact-sub{
  text-align: center;
  color: white;
  margin-right: 5%;
  margin-left: 5%;
}

.margin-9{
  margin-top: -5%;
}

.foot-icons{
  display:flex;
  justify-content: center;
  font-size: 75px;
  padding: 5%;
  margin-top: -5%;
}

.style-2{
  padding: 5%;
  text-decoration: none;
  color: orange;
}

.margin-6{
  margin-top: 2%;
}