
.navigation{
    display: flex;
    justify-content: flex-end;
}

.navigators{
    padding: 5px;
    border: outset;
    font-size-adjust: 120px;
}

.entrance-title{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center {
    display:flex;
    justify-content: center;
    margin: 30px;
}

.white-space{
    display: none;
    text-align: center;
    color: white;
    
}

.placement{
    display: flex;
    margin: 10px;
    border: 2px solid white;
    padding: 3px;
}

.profile-pic{
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.profile-height{
    height: 500px;
}

.underline{
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: blue;
}

.about-me{
    text-align: center;
    margin: 50px;
}

.transition{
    margin: 20px;
    text-align: center;
}

.me{
    text-align: center;
}
/* .images{
   display: flex;
   justify-content: center;
}

.picture-frame{
    height: 100px;
    

} */
.pic-2{
    padding: 10px;
}

 .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  /* rtl:begin:ignore */
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }

  
